.flashcard-container {
  perspective: 1000px;
}

.flashcard {
  transform-style: preserve-3d;
}

.flashcard.no-animation {
  transition: none;
}

.flashcard.flipped {
  transform: rotateY(180deg);
}

.flashcard > div {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flashcard .front {
  background-color: #e0f7fa;
  color: #006064;
}

.flashcard .back {
  background-color: #006064;
  color: #e0f7fa;
  transform: rotateY(180deg);
}
